CREATE DATABASE[KaraokeCGV]
GO

USE [KaraokeCGV]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[maDichVu] [nvarchar](50) NOT NULL,
	[maHoaDon] [nvarchar](50) NOT NULL,
	[soLuong] [int] NULL,
 CONSTRAINT [pk_ChiTietDichVu] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maPhong] [nvarchar](50) NOT NULL,
	[thoiLuongSuDung] [int] NULL,
 CONSTRAINT [pk_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [nvarchar](50) NOT NULL,
	[maSanPham] [nvarchar](50) NULL,
	[tenDichVu] [nvarchar](50) NULL,
	[donViTinh] [nvarchar](50) NULL,
	[hinhAnh] [nvarchar](max) NULL,
	[trangThaiDichVu] [bit] NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maNhanVien] [nvarchar](50) NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[ngayLap] [date] NULL,
	[gioNhanPhong] [datetime] NULL,
	[gioKetThuc] [datetime] NULL,
	[thue] [float] NULL,
	[khuyenMai] [float] NULL,
	[tienKhachTra] [decimal](18, 0) NULL,
	[trangThai] [bit] NULL,
	[tongTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](50) NOT NULL,
	[hoTenKhachHang] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[soDienThoai] [nvarchar](15) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[maLoaiNhanVien] [nvarchar](50) NOT NULL,
	[tenLoaiNhanVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiNhanVien] PRIMARY KEY CLUSTERED 
(
	[maLoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [nvarchar](50) NOT NULL,
	[tenLoai] [nvarchar](50) NULL,
	[sucChua] [int] NULL,
	[giaTien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[maLoaiSanPham] [nvarchar](50) NOT NULL,
	[tenLoaiSanPham] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[maLoaiSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[tenNhanVien] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NULL,
	[ngaySinh] [date] NULL,
	[gioiTinh] [bit] NULL,
	[diaChi] [nvarchar](50) NULL,
	[soDienThoai] [nvarchar](50) NULL,
	[trangThaiLamViec] [bit] NULL,
	[quanly] [bit] NULL,
	[maLoaiNhanVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPhieuDatPhong] [nvarchar](50) NOT NULL,
	[maPhong] [nvarchar](50) NOT NULL,
	[maNhanVien] [nvarchar](50) NOT NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[thoiGianDat] [datetime] NULL,
	[thoiGianNhanPhong] [datetime] NULL,
	[soLuongNguoi] [int] NULL,
	[ghiChu] [nvarchar](200) NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[maPhieuDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nvarchar](50) NOT NULL,
	[maTrangThaiPhong] [nvarchar](50) NULL,
	[maLoaiPhong] [nvarchar](50) NULL,
	[dienTich] [float] NULL,
	[chieuCao] [float] NULL,
	[vatLieuCachAm] [nvarchar](50) NULL,
	[tiVi] [nvarchar](100) NULL,
	[soLuongTiVi] [int] NULL,
	[thuongHieuTiVi] [nvarchar](50) NULL,
	[ban] [nvarchar](50) NULL,
	[soLuongBan] [int] NULL,
	[soFa] [nvarchar](50) NULL,
	[soLuongSoFa] [int] NULL,
	[danLoa] [nvarchar](50) NULL,
	[moTa] [nvarchar](max) NULL,
	[tinhTrangBaoTri] [bit] NULL,
	[hinhAnh] [nvarchar](max) NULL,
	[luotCho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[maSanPham] [nvarchar](50) NOT NULL,
	[tenSanPham] [nvarchar](50) NULL,
	[soLuongSanPham] [int] NULL,
	[ngayNhapSanPham] [date] NULL,
	[hanSuDung] [date] NULL,
	[noiLayHang] [nvarchar](max) NULL,
	[giaNhap] [decimal](18, 0) NULL,
	[nhaCungCap] [nvarchar](50) NULL,
	[maLoaiSanPham] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[maSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTaiKhoan] [nvarchar](50) NOT NULL,
	[maNhanvien] [nvarchar](50) NOT NULL,
	[userName] [nvarchar](50) NULL,
	[passWord] [nvarchar](50) NULL,
	[email] [varchar](50) NOT NULL UNIQUE,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 11/7/2022 10:22:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[maTrangThaiPhong] [nvarchar](50) NOT NULL,
	[tenTrangThaiPhong] [nvarchar](50) NULL,
 CONSTRAINT [PK_TrangThaiPhong] PRIMARY KEY CLUSTERED 
(
	[maTrangThaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDichVu] ([maDichVu], [maHoaDon], [soLuong]) VALUES (N'DV001', N'HDA001250922', 2)
INSERT [dbo].[ChiTietDichVu] ([maDichVu], [maHoaDon], [soLuong]) VALUES (N'DV003', N'HDA001250922', 10)
INSERT [dbo].[ChiTietDichVu] ([maDichVu], [maHoaDon], [soLuong]) VALUES (N'DV006', N'HDA001550922', 5)
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiLuongSuDung]) VALUES (N'HDA001250922', N'P004', 3)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiLuongSuDung]) VALUES (N'HDA001550922', N'P004', 5)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiLuongSuDung]) VALUES (N'HDA001650922', N'P004', 5)


GO
INSERT [dbo].[DichVu] ([maDichVu], [maSanPham], [tenDichVu], [donViTinh], [hinhAnh], [trangThaiDichVu]) VALUES (N'DV001', N'SP0030', N'Nước suối(Miễn phí)', N'Lon', N'\\src\\image\\sanPham\\nuocSuoi.jpg', 1)
INSERT [dbo].[DichVu] ([maDichVu], [maSanPham], [tenDichVu], [donViTinh], [hinhAnh], [trangThaiDichVu]) VALUES (N'DV002', N'SP0001', N'Trái cây Thập cẩm', N'Đĩa', N'\\src\\image\\sanPham\\traiCayThapCam.jpg', 1)
INSERT [dbo].[DichVu] ([maDichVu], [maSanPham], [tenDichVu], [donViTinh], [hinhAnh], [trangThaiDichVu]) VALUES (N'DV003', N'SP0005', N'Bia 333', N'Lon', N'\\src\\image\\sanPham\\bia333.jpg', 1)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [gioNhanPhong], [gioKetThuc], [thue], [khuyenMai], [tienKhachTra], [trangThai], [tongTien]) VALUES (N'HDA001250922', N'NV043201', N'KH04', CAST(N'2022-09-25' AS Date), CAST(N'2022-09-25T19:00:00.000' AS DateTime), CAST(N'2022-09-25T21:00:00.000' AS DateTime), 10, NULL, CAST(1200000 AS Decimal(18, 0)), 1, CAST(1155000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [gioNhanPhong], [gioKetThuc], [thue], [khuyenMai], [tienKhachTra], [trangThai], [tongTien]) VALUES (N'HDA001550922', N'NV043201', N'KH04', CAST(N'2022-09-25' AS Date), CAST(N'2022-09-25T19:00:00.000' AS DateTime), CAST(N'2022-09-25T21:00:00.000' AS DateTime), 10, NULL, CAST(1200000 AS Decimal(18, 0)), 1, CAST(2155000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [ngayLap], [gioNhanPhong], [gioKetThuc], [thue], [khuyenMai], [tienKhachTra], [trangThai], [tongTien]) VALUES (N'HDA001650922', N'NV043201', N'KH04', CAST(N'2022-09-10' AS Date), CAST(N'2022-09-25T19:00:00.000' AS DateTime), CAST(N'2022-09-25T21:00:00.000' AS DateTime), 10, NULL, CAST(1200000 AS Decimal(18, 0)), 1, CAST(3155000 AS Decimal(18, 0)))













GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTenKhachHang], [ngaySinh], [gioiTinh], [diaChi], [CCCD], [soDienThoai]) VALUES (N'KH01', N'Nguyễn Thị Minh Khai', CAST(N'2000-12-03' AS Date), 1, N'Hồ Chí Minh', N'251036726', N'0362174592')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTenKhachHang], [ngaySinh], [gioiTinh], [diaChi], [CCCD], [soDienThoai]) VALUES (N'KH02', N'Phan Văn Trị', CAST(N'1995-12-07' AS Date), 0, N'Hồ Chí Minh', N'251039742', N'0314702589')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTenKhachHang], [ngaySinh], [gioiTinh], [diaChi], [CCCD], [soDienThoai]) VALUES (N'KH03', N'Nguyễn Oanh', CAST(N'1993-01-12' AS Date), 1, N'Hồ Chí Minh', N'215041208', N'0962017523')
GO
INSERT [dbo].[LoaiNhanVien] ([maLoaiNhanVien], [tenLoaiNhanVien]) VALUES (N'LNV01', N'Quản lý nhân viên')
INSERT [dbo].[LoaiNhanVien] ([maLoaiNhanVien], [tenLoaiNhanVien]) VALUES (N'LNV02', N'Nhân viên thu ngân')
GO
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoai], [sucChua], [giaTien]) VALUES (N'PL', N'Phòng lớn', 20, CAST(200000 AS Decimal(18, 0)))
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoai], [sucChua], [giaTien]) VALUES (N'PN', N'Phòng nhỏ', 5, CAST(100000 AS Decimal(18, 0)))
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoai], [sucChua], [giaTien]) VALUES (N'PV', N'Phòng vừa', 10, CAST(150000 AS Decimal(18, 0)))
GO
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP01', N'Trái cây')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP02', N'Đồ ăn vặt')
INSERT [dbo].[LoaiSanPham] ([maLoaiSanPham], [tenLoaiSanPham]) VALUES (N'LSP03', N'Khô')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [CCCD], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [trangThaiLamViec], [quanly], [maLoaiNhanVien]) VALUES (N'NV043201', N'Phan Hoài An', N'251349432', CAST(N'2002-05-19' AS Date), 0, N'Hồ Chí Minh', N'0632017594', 1, 0, N'LNV02')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [CCCD], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [trangThaiLamViec], [quanly], [maLoaiNhanVien]) VALUES (N'NV043202', N'Nguyễn Gia Hy ', N'079202002', CAST(N'2002-11-05' AS Date), 0, N'Hồ Chí Minh', N'03399483301', 1, 0, N'LNV02')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [CCCD], [ngaySinh], [gioiTinh], [diaChi], [soDienThoai], [trangThaiLamViec], [quanly], [maLoaiNhanVien]) VALUES (N'NV043203', N'Mã Tố Trâm ', N'023202003', CAST(N'2002-12-06' AS Date), 1, N'An Giang ', N'0299483301', 1, 0, N'LNV02')
GO
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP001', N'P014', N'NV043201', N'KH10', CAST(N'2022-10-04T10:00:00.000' AS DateTime), CAST(N'2022-10-04T19:00:00.000' AS DateTime), 10, NULL)
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP002', N'P015', N'NV043201', N'KH01', CAST(N'2022-10-04T15:00:00.000' AS DateTime), CAST(N'2022-10-04T18:00:00.000' AS DateTime), 12, NULL)
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP003', N'P003', N'NV043201', N'KH03', CAST(N'2022-10-04T15:00:00.000' AS DateTime), CAST(N'2022-10-04T18:00:00.000' AS DateTime), 5, NULL)
--INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP024', N'P001', N'NV043201', N'KH16', CAST(N'2022-11-07T22:17:21.000' AS DateTime), CAST(N'2022-11-08T22:17:00.000' AS DateTime), 5, N'null')
--INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP025', N'P001', N'NV043201', N'KH23', CAST(N'2022-11-07T22:17:35.000' AS DateTime), CAST(N'2022-11-09T22:17:00.000' AS DateTime), 5, N'null')
--INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDat], [thoiGianNhanPhong], [soLuongNguoi], [ghiChu]) VALUES (N'PDP026', N'P001', N'NV043201', N'KH30', CAST(N'2022-11-07T22:17:47.000' AS DateTime), CAST(N'2022-11-12T22:17:00.000' AS DateTime), 5, N'null')
GO
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [soLuongSanPham], [ngayNhapSanPham], [hanSuDung], [noiLayHang], [giaNhap], [nhaCungCap], [maLoaiSanPham]) VALUES (N'SP0001', N'Trái cây các loại', 150, CAST(N'2022-10-04' AS Date), CAST(N'2022-10-06' AS Date), N'Chợ gò vấp', CAST(15000 AS Decimal(18, 0)), N'Chợ Gò Vấp', N'LSP01')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [soLuongSanPham], [ngayNhapSanPham], [hanSuDung], [noiLayHang], [giaNhap], [nhaCungCap], [maLoaiSanPham]) VALUES (N'SP0002', N'Đậu phộng', 150, CAST(N'2022-10-04' AS Date), CAST(N'2022-10-06' AS Date), N'Chợ gò vấp', CAST(15000 AS Decimal(18, 0)), N'Chợ Gò Vấp', N'LSP02')
INSERT [dbo].[SanPham] ([maSanPham], [tenSanPham], [soLuongSanPham], [ngayNhapSanPham], [hanSuDung], [noiLayHang], [giaNhap], [nhaCungCap], [maLoaiSanPham]) VALUES (N'SP0003', N'Khô gà', 150, CAST(N'2022-10-04' AS Date), CAST(N'2022-10-06' AS Date), N'Chợ gò vấp', CAST(15000 AS Decimal(18, 0)), N'Khô gà Như Lan', N'LSP03')
GO
INSERT [dbo].[TaiKhoan] ([maTaiKhoan], [maNhanvien], [userName], [passWord], [email]) VALUES (N'TK01', N'NV043201', N'NV01', N'12345678', 'phoaianvlogs@gmail.com')
INSERT [dbo].[TaiKhoan] ([maTaiKhoan], [maNhanvien], [userName], [passWord], [email]) VALUES (N'TK02', N'NV078901', N'QL01', N'12345678', 'thanhtu612t2002@gmail.com')
GO
INSERT [dbo].[TrangThaiPhong] ([maTrangThaiPhong], [tenTrangThaiPhong]) VALUES (N'PC', N'Phòng chờ')
INSERT [dbo].[TrangThaiPhong] ([maTrangThaiPhong], [tenTrangThaiPhong]) VALUES (N'PT', N'Phòng trống')
INSERT [dbo].[TrangThaiPhong] ([maTrangThaiPhong], [tenTrangThaiPhong]) VALUES (N'SD', N'Phòng đang sử dụng')
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Phong]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([maSanPham])
REFERENCES [dbo].[SanPham] ([maSanPham])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([maLoaiNhanVien])
REFERENCES [dbo].[LoaiNhanVien] ([maLoaiNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([maTrangThaiPhong])
REFERENCES [dbo].[TrangThaiPhong] ([maTrangThaiPhong])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([maLoaiSanPham])
REFERENCES [dbo].[LoaiSanPham] ([maLoaiSanPham])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([maNhanvien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
/*
SELECT * FROM HoaDon
SELECT * FROM NhanVien
SELECT * FROM TaiKhoan
SELECT * FROM PhieuDatPhong
SELECT * FROM ChiTietHoaDon
SELECT * FROM ChiTietDichVu
SELECT * FROM KhachHang
SELECT * FROM Phong

*/